.active {
  background: rgba(1, 27, 24, 0.1);
  border-radius: 5px;
}
.category_class {
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  /* 3 */

  color: #011b18;
}
