footer {
    background: #012923;
    .row{
        padding: 37px 0;
        align-items: center;
    }
    .lang{
        display: flex;
        justify-content: end;
    }
    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: center;
        li{
            a{
                font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;

/* White */

color: #FFFFFF;
            }
        }
    }
  .navbar-right-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14.5px 20px;
    background: #02443b;
    border-radius: 5px;

    box-shadow: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    box-shadow: none !important;
    color: #ffffff;
    /* White */

    color: #ffffff;
    .txt {
      margin-left: 10px;
    }
    &:hover {
      box-shadow: none !important;
      color: #ffffff;
    }
    &:active {
      box-shadow: none !important;
      color: #ffffff !important;
    }
  }
}
